.container {
    width: min(100%, 1440px);
    margin: auto;
}
/* header */
header {
    max-width: inherit;
    width: inherit;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 34px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E0230;
}
.logo_link {
    display: inline-flex;
}
.search_form {
    width: 560px;
    border-radius: 8px;
    box-shadow: 0px -2px 5px #F1ACEE;
    display: flex;
    align-items: center;
}
.search {
    background: transparent;

    padding-inline: 16px;
    width: 100%;
    border: 1px solid rgba(176, 82, 181, 0.79);
    height: 48px;border-radius: 8px 0px 0px 8px;
}
.search_button {
    background: transparent;
    border: none;
    font-size: 11.5px;
    color: #ffffff;
    padding: 16px;
}
.search::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #9E8D9EB5;
}
.header_right {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.login {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    border: 1px solid #F30AEA;
    border-radius: 8px;
    background-color: transparent;
    padding: 8px 16px;
}
.cart {
    border: none;
    border-radius: 8px;
    background-color: #F30AEA;
    padding: 13px;
    font-size: 16px;
    color: #ffffff;
}
/* section (form) */
.form_section {
    margin-top: 116px;
    background-image: url("../img/cover\ image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    padding: 64px 288px;
}
.form_container {
    background-color: #1c1325cc;
    padding: 48px 200px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    border: 1px solid rgba(176, 82, 181, 0.79);
    border-radius: 20px;

}
.contact_form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
h2 {
    font-size: 32px;
    letter-spacing: 4px;
    font-weight: 700;
    line-height: 26px;
    text-shadow: 2px 4px 4px rgba(249, 12, 239, 0.71);
    text-align: center;
    color: #ffffff;
}
.info {
    display: flex;
    column-gap: 20px;
}
.info_input {
    background-color: transparent;
    width: 220px;
    height: 48px;
    padding: 11px 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    border: 1px solid #b052b5;
    border-radius: 8px;
}
.info_input::placeholder {
    color: #9e8d9eb5;
}
.question {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}
.radio {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
#radio1, #radio2, #radio3, #radio4 {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #f30aeab5;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
}
#radio1:checked::after, #radio2:checked::after, #radio3:checked::after, #radio4:checked::after {
    content: url("../img/Frame\ 63.svg")
}
.label_radio {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #b052b5;
}
.radio_divs {
    display: flex;
    align-items: center;
    column-gap: 2px;
}
.textarea_container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.label_textarea {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px
}
textarea {
    resize: none;
    width: 464px;
    height: 112px;
    padding: 11px 22px;
    border: 1px solid rgba(176, 82, 181, 1);
    background-color: transparent;
    border-radius: 8px;
}
textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #9E8D9EB5;
}
.checkbox_container {
    display: flex;
    align-items: center;
    column-gap: 8px
}
#checkbox {
    border: 2px solid rgba(243, 10, 234, 1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    appearance: none;
}
.label_chackbox {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
}
.submit {
    background-color: #f30aea;
    color: #ffffff;
    width: 100%;
    height: 64px;
    border: 1px solid rgba(176, 82, 181, 0.79);
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}